/** Navbar styling **/

.nav-item .nav-link {
  color: white !important;
}

.nav-item:hover .nav-link {
  color: aqua !important;
  border-bottom: 3px solid aqua;
}

/** General content **/
.content {
  margin-top: 16px;
}


/** Footer **/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: white;
  text-align: center;
}

.footer-content {

}
