<!-- Navbar code -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="/#">
    <img alt = "Mechasparrow" height = "30" src = "{{site.baseurl}}/assets/images/logo.png"/>
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" href="{{site.baseurl}}/#">Home</a>
      </li>
      <li class ="nav-item">
        <a class = "nav-link" href = "{{site.baseurl}}/#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{site.baseurl}}/#social-marker">Social</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{site.baseurl}}/#projects-marker">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target = "_blank" href="{{site.baseurl}}/assets/resources/resume.pdf">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{site.baseurl}}/articles">Blog</a>
      </li>
    </ul>
  </div>

</nav>
