<link rel = "stylesheet" href = "/assets/styles/general.css"/>
<link rel = "stylesheet" href = "/assets/styles/nav.css"/>
<link rel = "stylesheet" href = "/assets/styles/about.css"/>
<link rel = "stylesheet" href = "/assets/styles/projects.css"/>
<link rel = "stylesheet" href = "/assets/styles/projects_list.css"/>
<link rel = "stylesheet" href = "/assets/styles/project.css"/>
<link rel = "stylesheet" href = "/assets/styles/social.css"/>
<link rel = "stylesheet" href = "/assets/styles/footer.css"/>
<link rel = "stylesheet" href = "/assets/styles/sparrow.css"/>
<link rel = "stylesheet" href = "/assets/styles/article.css"/>
<link rel = "stylesheet" href = "/assets/styles/blog.css"/>
