/** Css for article view **/
.article {
  padding-top: 32px;
  max-width: 80em;
  padding-bottom: 32px;
}

.article .writing img {
  width: 100%;
  margin: auto;
}

.article .writing {
  margin-top: 32px;
  font-size: 1.5em;
}

.extra-info {
  overflow: auto;
  color: grey;
}

.extra-info .category {
  float: left;
}

.extra-info .back-option {
  float: right;
  color: #6666CC;
  text-decoration: underline;
  cursor: pointer;
}

/** Weird overflow fix **/
td {
  display: block;
}
