/** Styling for the blog **/

.blog-title {
  padding-top: 32px;
  font-size: 4em;
}

/** Link to medium **/
.medium-link {
  color: #57AD68;
  padding-left: 8px;
  cursor: pointer;
  text-decoration: underline;
}

/** Articles **/
.articles-list {
  margin-top: 32px;
}

.article-card {
  width: 100%;
  border: 5px solid #33CCFF;
  overflow: auto;
  padding: 16px;
  margin-bottom: 32px;
}

.article-card .article-title {
  font-size: 2.5em;
}

.article-card .article-date {
  font-size: 2em;
}

.article-card .article-excerpt {
  font-size: 1.25em;
}

.article-footer {
  color: grey;
}

.read-link {
  color: #33CCFF;
  cursor: pointer;
  text-decoration: underline;
}

/** Pagination system **/
.pagination .page_number {
  padding-left: 8px;
  padding-right: 8px;
}

.pagination div {
  margin: 8px;
}

/** Search **/
.search-stuff {
  margin-top: 32px;
}

#search-input {
  margin-bottom: 16px;
}

#results-container div {
  border: 5px solid #6666CC;
  margin-bottom: 16px;
  padding: 8px;
}

#results-container a {
  color: #6666CC;
  font-size: 1.5em;
  text-decoration: underline;
}
