html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -70px;
}
.footer,
.push {
  height: 70px;
}

/** Footer **/
.footer {
  background-color: black;
}

.footer-content {
  color:white;
  text-align:center;
  font-size: 1.25em;
  padding-top: 16px;
}

.footer-content p{
    margin: 0px !important;
}
