/** Font styling **/
* {
  font-family: monospace;
}

/** Border styling **/
.border {
  margin:0px;
  padding:0px;
  width: 100%;
  height: 10px;
  background-color: #343A40;
}

/** General content **/
.content {
  margin-top: 64px;
}
