/** Projects section **/
.projects {
  margin-bottom: 64px;
  margin-top: 64px;
}

.projects .content-container .title, .projects .view-projects {
  border: 5px solid #6666CC;
  text-align: center;
  padding: 16px;

  /** Width fix **/
  margin-right: 8px;
  margin-left: 8px;

  /** Vertical spacing **/
  margin-bottom: 16px;
}

.projects  .view-projects {
  color: black;
  text-decoration: none;
}

.projects  .view-projects {
  border: 5px solid grey;
  color: grey;
}

.projects .view-projects h1{
  margin: 0px;
}

.projects .view-projects-link {
  text-decoration: none;
}

.projects .view-projects:hover {
  border: 5px solid #6666CC;
  color: #6666CC;
  text-decoration: none !important;
  cursor: pointer;
}

/** Project Card **/
.project-card-wrapper {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 16px;
}

.project-cards {
  margin-left: 0px;
  margin-right: 0px;
}

.project-card {
  border: 5px solid grey;
  padding: 32px;
  padding-bottom: 8px;
  overflow: auto;
}

.project-card .dummy-image {
  width: 150px;
  height: 150px;
  background-color: grey;
}

.project-card .card-prompt {
  margin-top: 16px;
  font-size: 1.75em;
  float:right;
  position: absolute;
  bottom: 24px;
  right:32px;
}

.project-card .card-prompt a{
  color: #6666CC;
  text-decoration: underline;
}

.project-card .project-title {
  margin-bottom: 32px;
}

.project-card .project-desc {
  margin-top: 16px;
  font-size: 1.5em;
  min-height: 100px;
  padding-bottom: 32px;
}


/** Navigation **/
#projects-marker {
  position: relative;
  bottom: 50px;
}
