/** Social section **/
.social {
  margin-bottom: 64px;
}

.social-row {
  padding: 0px !important;
}

.social .title {
  border: 5px solid #33CCFF;
  text-align: center;
  padding: 16px;
  margin-bottom: 16px;
}

.social-card {
  border: 5px solid grey;
}

.social-title {
  text-align: center;
  color: grey;
  margin: 0px !important;
  padding: 16px;
}

/** Specific card styling **/

/** Twitter **/
.twitter-card:hover {
  border-color: #33CCFF;
  cursor: pointer;
}

.twitter-card:hover .social-title {
  color: #33CCFF;
}

/** Twitch **/
.twitch-card:hover {
  border-color: #6441a5;
  cursor: pointer;
}

.twitch-card:hover .social-title {
  color: #6441a5;
}

/** Github/Email card **/
.github-card:hover, .email-card:hover {
  border-color: #24292e;
  cursor: pointer;
}

.github-card:hover .social-title, .email-card:hover .social-title {
  color: #24292e;
}

/** Youtube **/
.youtube-card:hover {
  border-color: #c4302b;
  cursor: pointer;
}

.youtube-card:hover .social-title {
  color: #c4302b;
}

/** Navigation **/
#social-marker {
  position: relative;
  bottom: 50px;
}

/** Links **/
.social-card-link:hover {
  text-decoration: none;
}

/** Spacing **/
.social-card {
  margin-bottom: 16px;
}
