/** Navbar styling **/
* {
  font-family: monospace;
}

.nav-item {
  font-size: 1.5em;
}

.nav-item .nav-link {
  color: black !important;
}

.nav-item:hover .nav-link {
  color: #33CCFF !important;
}

/** General content **/
.content {
  margin-top: 16px;
}


/** Footer **/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: white;
}

.footer-content {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 16px;
  font-size: 1.25em;
}
