---
layout: default
---

<div class = "content container-fluid project-page">

  <h2 class = "back-link">
    <a href = "/list_projects/">Go back</a>
  </h2>

  <div class = "row project-row">

    <div class = "col-md-6 project-image">
      <div class = "embed-responsive embed-responsive-21by9 text-center">
        <img class = "embed-responsive-item img-top img-fluid" src = "{{page.image}}" />
      </div>
    </div>

    <div class = "col-md-6">
      <h1 class = "title">
        {{page.title}}
      </h1>
      <div class = "writing">
        {{content}}
      </div>
    </div>

  </div>

  <div class = "row">
    <div class = "links col-md-4 mx-auto row">
      {% if page.code_url %}
        <a class = "col" id = "link-code" href = "{{page.code_url}}">
          <div class = "link-wrapper w-100">
            Code
          </div>
        </a>
      {% endif %}

      {% if page.view_url %}

        <a class = "col" id = "link-view" href = "{{page.view_url}}">
          <div class = "link-wrapper w-100">
            View
          </div>
        </a>
      {% endif %}
    </div>
  </div>

</div>
