---
layout: default
---

<div class = "content container-fluid project-page">

  <h2>
    <a href = "/list_projects/">Go back</a>
  </h2>

  <div class = "row project-row">

    <div class = "col-md-6 project-image">
      <div class = "text-center">
        <img class = "img-fluid" src = "{{page.image}}" />
      </div>
    </div>

    <div class = "col-md-6">
      <h1 class = "title">
        {{page.title}}
      </h1>
      <div class = "writing">
        {{content}}
      </div>
    </div>

  </div>

  {% if page.code_url || page.view_url %}
    <div class = "links">
      <a id = "link-code" href = "{{page.code_url}}">Code</a>
      |
      <a id = "link-view" href = "{{page.view_url}}">View</a>
    </div>
  {% endif %}

</div>
